<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EbookReader.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>DA0E94173801486390C0A13AD4CA26C68B9A4BCE</string>
				<key>dateExpires</key>
				<string>07.02.23</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA0E94173801486390C0A13AD4CA26C68B9A4BCE</string>
						<key>dateExpires</key>
						<string>07.02.23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AEXML.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HU7SCWF2RM</string>
						<key>name</key>
						<string>Max-Planck-Gesellschaft zur Foerderung der Wissenschaften e.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA0E94173801486390C0A13AD4CA26C68B9A4BCE</string>
						<key>dateExpires</key>
						<string>07.02.23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HU7SCWF2RM</string>
						<key>name</key>
						<string>Max-Planck-Gesellschaft zur Foerderung der Wissenschaften e.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA0E94173801486390C0A13AD4CA26C68B9A4BCE</string>
						<key>dateExpires</key>
						<string>07.02.23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FolioReaderKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HU7SCWF2RM</string>
						<key>name</key>
						<string>Max-Planck-Gesellschaft zur Foerderung der Wissenschaften e.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA0E94173801486390C0A13AD4CA26C68B9A4BCE</string>
						<key>dateExpires</key>
						<string>07.02.23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FontBlaster.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HU7SCWF2RM</string>
						<key>name</key>
						<string>Max-Planck-Gesellschaft zur Foerderung der Wissenschaften e.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA0E94173801486390C0A13AD4CA26C68B9A4BCE</string>
						<key>dateExpires</key>
						<string>07.02.23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HU7SCWF2RM</string>
						<key>name</key>
						<string>Max-Planck-Gesellschaft zur Foerderung der Wissenschaften e.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA0E94173801486390C0A13AD4CA26C68B9A4BCE</string>
						<key>dateExpires</key>
						<string>07.02.23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HU7SCWF2RM</string>
						<key>name</key>
						<string>Max-Planck-Gesellschaft zur Foerderung der Wissenschaften e.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA0E94173801486390C0A13AD4CA26C68B9A4BCE</string>
						<key>dateExpires</key>
						<string>07.02.23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MenuItemKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HU7SCWF2RM</string>
						<key>name</key>
						<string>Max-Planck-Gesellschaft zur Foerderung der Wissenschaften e.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA0E94173801486390C0A13AD4CA26C68B9A4BCE</string>
						<key>dateExpires</key>
						<string>07.02.23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ReactiveCocoa.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HU7SCWF2RM</string>
						<key>name</key>
						<string>Max-Planck-Gesellschaft zur Foerderung der Wissenschaften e.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA0E94173801486390C0A13AD4CA26C68B9A4BCE</string>
						<key>dateExpires</key>
						<string>07.02.23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ReactiveSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HU7SCWF2RM</string>
						<key>name</key>
						<string>Max-Planck-Gesellschaft zur Foerderung der Wissenschaften e.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA0E94173801486390C0A13AD4CA26C68B9A4BCE</string>
						<key>dateExpires</key>
						<string>07.02.23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Realm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HU7SCWF2RM</string>
						<key>name</key>
						<string>Max-Planck-Gesellschaft zur Foerderung der Wissenschaften e.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA0E94173801486390C0A13AD4CA26C68B9A4BCE</string>
						<key>dateExpires</key>
						<string>07.02.23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RealmSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HU7SCWF2RM</string>
						<key>name</key>
						<string>Max-Planck-Gesellschaft zur Foerderung der Wissenschaften e.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA0E94173801486390C0A13AD4CA26C68B9A4BCE</string>
						<key>dateExpires</key>
						<string>07.02.23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SSZipArchive.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HU7SCWF2RM</string>
						<key>name</key>
						<string>Max-Planck-Gesellschaft zur Foerderung der Wissenschaften e.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA0E94173801486390C0A13AD4CA26C68B9A4BCE</string>
						<key>dateExpires</key>
						<string>07.02.23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HU7SCWF2RM</string>
						<key>name</key>
						<string>Max-Planck-Gesellschaft zur Foerderung der Wissenschaften e.V.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DA0E94173801486390C0A13AD4CA26C68B9A4BCE</string>
						<key>dateExpires</key>
						<string>07.02.23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ZFDragableModalTransition.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HU7SCWF2RM</string>
						<key>name</key>
						<string>Max-Planck-Gesellschaft zur Foerderung der Wissenschaften e.V.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>HU7SCWF2RM.de.mpg.mpdl.mpgreader</string>
				<key>com.apple.developer.team-identifier</key>
				<string>HU7SCWF2RM</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>HU7SCWF2RM.de.mpg.mpdl.mpgreader</string>
				</array>
			</dict>
			<key>name</key>
			<string>EbookReader.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d14eab81-fd6c-4ecf-b412-d9225e2e232c</string>
				<key>name</key>
				<string>MPG-Reader Provisioning Profile</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>HU7SCWF2RM</string>
				<key>name</key>
				<string>Max-Planck-Gesellschaft zur Foerderung der Wissenschaften e.V.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
